/*  your css code here. If applicable */
.header{
	text-align:center;
	padding:15px;
	background:#011e29;
	color:white;
}
.pictorial-news-section img{
	width:150px;
	height:100px;
	display:flex;
	justify-content:column;
	padding:0px;
	align-item:center;
}
.pictorial-news-section{
	width:30%;
	height:350px;
	background:#fefffe;
	padding:10px;
	text-align:center;
}
body{
	background: #f5f5f5;
}
